services:
  triton:
    image: nvcr.io/nvidia/tritonserver:24.01-py3-min
    container_name: silero-vad-triton
    ports:
      - "8000:8000"  # HTTP
      - "8001:8001"  # gRPC
      - "8002:8002"  # Metrics
    volumes:
      - ./model_repository:/models
    command: tritonserver --model-repository=/models --log-verbose=1
    shm_size: '1gb'
